body{
    background-image:url(rickrole.jpg) ;
    background-size: cover;
    text-align: center;
}
h1{
    font-family: Verdana;
    color: #FF69B4;
    font-size: 300%;
}
p{
    font-family: arial;
    color: #FF69B4;
}
img{
    margin: 20px;;
    border: 5px solid hotpink;
}
a{
    color:#FF69B4;
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana;
}
a:link{
    color: #FF69B4;
}
a:hover{
    color: pink;
}
#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #FF69B4;
    padding: 20px;
    background-color: white;
    margin-top: 50px;
}
hr{
    height: 5px;
    color: #FF69B4;
    background-color: #FF69B4;
}
button{
    background-color: orangered;
    padding: 30px 60px;
    font-size: 35px;
    color: hotpink;
    border-radius: 10px;
    border: 5px solid hotpink;
}
button:hover{
    background-color: pink;
    cursor: pointer;
}